.app{
  height: 100vh;


  .sections{
    width: 100%;
    height: cals(100vh - 70px);
    background-color: salmon;
    position: relative;
    top: 70px;


    > *{
      width: 100vw;
      height: cals(100vh - 70px) ;
    }
  }
}
